.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.username {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%; /* Đặt ở giữa avatar */
  transform: translateX(-50%); /* Dịch chuyển để căn giữa so với avatar */
  background-color: #333;
  color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 10;
  min-width: 110px;
  padding: 5px 0;
}

.dropdown-item {
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #555;
}
